.import/
*.translation
export_presets.cfg
addons/SyndiBox/icon.png.import
addons/SyndiBox/Assets/snd_dialog.ogg.import
icon.png.import
assets/music/Godot_Slurp_Master1.wav.import
assets/music/Godot_QuantisedFunk_Master1.wav.import
assets/music/Godot_Escape_Master1.wav.import
assets/images/sprites/New Piskel (2).png.import
assets/images/sprites/Placeholder_DeathPlane.png.import
assets/images/sprites/Placeholder_RingPlat.png.import
assets/images/sprites/Arrow.png.import
assets/images/sprites/Placeholder_Player.png.import
assets/images/sprites/02/Baren_16x16.png.import
assets/images/sprites/02/Terran_16x16.png.import
assets/images/sprites/02/Ice_24x24.png.import
assets/images/sprites/02/Ice_8x8.png.import
assets/images/sprites/02/Lava_24x24.png.import
assets/images/sprites/02/Baren.png.import
assets/images/sprites/02/Ice.png.import
assets/images/sprites/02/Lava_8x8.png.import
assets/images/sprites/02/Baren_24x24.png.import
assets/images/sprites/02/Baren_8x8.png.import
assets/images/sprites/02/Terran_24x24.png.import
assets/images/sprites/02/Ice_16x16.png.import
assets/images/sprites/02/Terran_8x8.png.import
assets/images/sprites/02/Terran.png.import
assets/images/sprites/02/Lava.png.import
assets/images/sprites/02/Lava_16x16.png.import
assets/images/sprites/Placeholder_Spikes.png.import
assets/images/sprites/PlaceholderCheckpointt.png.import
assets/images/sprites/Placeholder_PhasingMaterial.png.import
assets/images/sprites/SwitchPlatform.png.import
assets/images/sprites/Placeholder_Launcher_projectile.png.import
assets/images/sprites/Placeholder_Background.png.import
assets/images/sprites/HintBox_Background.png.import
assets/images/sprites/Bridge.png.import
assets/images/sprites/01/thinfont.png.import
assets/images/sprites/01/explosion.png.import
assets/images/sprites/01/jet2.png.import
assets/images/sprites/01/crate.png.import
assets/images/sprites/01/editorblock.png.import
assets/images/sprites/01/pod.png.import
assets/images/sprites/01/powerlight.png.import
assets/images/sprites/01/thickfont.png.import
assets/images/sprites/01/crate2_open.png.import
assets/images/sprites/01/beamsocket.png.import
assets/images/sprites/01/jet.png.import
assets/images/sprites/01/explosion2.png.import
assets/images/sprites/01/pod1.png.import
assets/images/sprites/01/droplets.png.import
assets/images/sprites/01/messagebox.png.import
assets/images/sprites/01/smoke.png.import
assets/images/sprites/01/tiles.png.import
assets/images/sprites/01/beam.png.import
assets/images/sprites/01/crate2.png.import
assets/images/sprites/01/timerswitch.png.import
assets/images/sprites/01/pit.png.import
assets/images/sprites/01/socket.png.import
assets/images/sprites/01/jet3.png.import
assets/images/sprites/01/shipbits.png.import
assets/images/sprites/01/dust.png.import
assets/images/sprites/01/button.png.import
assets/images/sprites/01/battery.png.import
assets/images/sprites/01/portrait.png.import
assets/images/sprites/01/astro.png.import
assets/images/sprites/01/rocks.png.import
assets/images/sprites/Axel_or_wheel.png.import
assets/images/sprites/Placeholder_Launcher.png.import
assets/images/sprites/Placeholder_Wall.png.import
assets/images/sprites/Placeholder_PhysicsObject.png.import
